mat-card {
  display: grid;
  box-shadow: 0px 0px 5px 5px lightblue;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1c2b36;
}
.single-user {
  display: flex;
  justify-content: center;
}
.mat-card-content {
  display: flex;
  justify-content: center;
}
.mat-card-md-image {
  width: 80px;
  height: 80px;
  background-color: orange;
  border-radius: 5em;
}
.mat-card-title,
.mat-card-subtitle {
  text-align: center;
}
.mat-raised-button {
  margin: 0 auto;
}
.mat-raised-button:hover {
  background-color: orange;
}
.loader {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10em;
}
